body{
     background-color:#76C356;
}
h1{
    font-family: arial;
    font-size: 45px;
    color:white;
    text-align: center;
}
h2, h3, p{
    text-align:center;
}
img{
   display: block;
   margin:0 auto;
}
#pepe{
      width: 240px;
      heigth: 220px;
      border-radius: 80%;
      border: 5px solid #ff0000;
}
button{
    display: block;
    margin: 0 auto;
    color:black;
    background-color: #ffh000;
    padding: 15px 32px
}
#pepe:hover {
  box-shadow: 0 0 2px 1 px blue;
 transform: scale(1.5);
}
button:hover{
background-color:blue;
}
#tabla1 tr:hover {
    background-color: pink;